{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="he-IL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'base_in/css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <header>
        {% block header %}{% endblock %}

    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2023 חנה בוריה יאיר. כל הזכויות שמורות.</p>
        </div>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>