{% load static %}

{% block extra_js %}
<script src="{% static '/base_in/js/upper-nav_actions.js' %}"></script>
{% endblock %}

<nav>
   
    <div class="menu-toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    {% if nav_bar.title %}
    <div class="page_tittle">
        <h1 class="tittal_page">
        {{nav_bar.title}}
        </h1>
    </div>
    {% endif %}
    <ul>
        {% for o in nav_bar.related_menue.related_fileds.all %}
            <li><a href="{{ o.link }}">{{ o.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}"><img src="{{ nav_bar.logo.url }}" alt="לוגו" /></a>
</nav>
